1) Instalar cx_Oracle
    Desde un terminal pip install cx_Oracle

In [148]:
import pandas 
import cx_Oracle
import numpy as np

### GeneraciÃ³n de Sujetos para Sintys

In [27]:
sql =       "select s.spo_id spo_id,  "
sql = sql + "      replace (s.spo_cuit,'-') spo_cuit, "
sql = sql + "      pf.pfa_tipo_documento tipo_doc, "
sql = sql + "      pf.pfa_numero_de_documento nro_doc, "
sql = sql + "      s.spo_denominacion spo_denominacion, "
sql = sql + "      s.spo_tipo_sujeto_pasivo, "
sql = sql + "      NULL nro_cta, "
sql = sql + "      NULL dominio, "
sql = sql + "      NULL ins_id, "
sql = sql + "      '1' AS nro_lote "
sql = sql + "FROM    tax.sujetos_pasivos@tax s "
sql = sql + "join tax.personas_fisicas@tax pf on s.SPO_ID = pf.PFA_SPO_ID "
sql = sql + "WHERE      spo_fecha_baja IS NULL "
sql = sql + "AND PCK_PARAMETRICAS.FC_VALIDA_CUIT(s.spo_cuit) =1 "
sql = sql + "AND not exists ( SELECT 1 "
sql = sql + "                    FROM migracion.Padron_Sintys_Datos_PFJ pa "
sql = sql + "                    WHERE pa.CUIT_OTAX = s.spo_cuit "
sql = sql + "                    and pa.GRADO_CONFIAB >75 "
sql = sql + "                 ) "

sql = sql + "UNION "
sql = sql + "select spo_id, "
sql = sql + "      replace (s.spo_cuit,'-') spo_cuit, "
sql = sql + "      pf.pfa_tipo_documento tipo_doc, "
sql = sql + "      pf.pfa_numero_de_documento nro_doc, "
sql = sql + "      s.spo_denominacion spo_denominacion, "
sql = sql + "      s.spo_tipo_sujeto_pasivo , "
sql = sql + "      NULL nro_cta, "
sql = sql + "      NULL dominio, "
sql = sql + "      NULL ins_id, "
sql = sql + "      '1' AS nro_lote "
sql = sql + "FROM   tax.sujetos_pasivos@tax s "
sql = sql + "join tax.personas_fisicas@tax pf on pf.pfa_spo_id= s.spo_id "
sql = sql + "join  migracion.padron_sintys_datos_pfj pd on s.spo_cuit = cuit_otax  AND grado_confiab >= 50 "
sql = sql + "WHERE NOT  ((utl_match.jaro_winkler_similarity(fc_normalizar_denom(s.spo_denominacion),fc_normalizar_denom(deno)) >= 50 OR "
sql = sql + "            (utl_match.jaro_winkler_similarity(REGEXP_SUBSTR(fc_normalizar_denom(s.spo_denominacion), '^([A-Za-z]+)(\s+)', 1, 1, 'i'), REGEXP_SUBSTR(fc_normalizar_denom(pd.deno), '^([A-Za-z]+)(\s+)', 1, 1, 'i')) >= 50 "
sql = sql + "                          AND "
sql = sql + "             utl_match.jaro_winkler_similarity(REGEXP_SUBSTR(fc_normalizar_denom(s.spo_denominacion), '(\s+)([A-Za-z]+)$', 1, 1, 'i'),  REGEXP_SUBSTR(fc_normalizar_denom(pd.deno), '(\s+)([A-Za-z]+)$', 1, 1, 'i')) >= 50))) "


sql = sql + "UNION   "
sql = sql + "select s.spo_id spo_id, "
sql = sql + "     replace (s.spo_cuit,'-') spo_cuit, "
sql = sql + "      NULL tipo_doc, "
sql = sql + "      NULL nro_doc, "
sql = sql + "      s.spo_denominacion spo_denominacion, "
sql = sql + "      s.spo_tipo_sujeto_pasivo spo_tipo_sujeto_pasivo, "
sql = sql + "      NULL nro_cta, "
sql = sql + "      NULL dominio, "
sql = sql + "      NULL ins_id, "
sql = sql + "      '1' AS nro_lote "
sql = sql + "FROM    tax.sujetos_pasivos@tax s "
sql = sql + "join tax.personas_juridicas@tax pj on s.SPO_ID = pj.PJA_SPO_ID "
sql = sql + "WHERE      spo_fecha_baja IS NULL "
sql = sql + "AND PCK_PARAMETRICAS.FC_VALIDA_CUIT(s.spo_cuit) =1 "
sql = sql + "AND not exists ( SELECT 1 "
sql = sql + "                    FROM migracion.Padron_Sintys_Datos_PFJ pa "
sql = sql + "                    WHERE pa.CUIT_OTAX = s.spo_cuit "
sql = sql + "                    and pa.GRADO_CONFIAB >75 "
sql = sql + "                 ) "

sql = sql + "UNION  "
sql = sql + "select s.spo_id spo_id, "
sql = sql + "     replace (s.spo_cuit,'-') spo_cuit, "
sql = sql + "      NULL tipo_doc, "
sql = sql + "      NULL nro_doc, "
sql = sql + "      s.spo_denominacion spo_denominacion, "
sql = sql + "      s.spo_tipo_sujeto_pasivo spo_tipo_sujeto_pasivo, "
sql = sql + "      NULL nro_cta, "
sql = sql + "      NULL dominio, "
sql = sql + "      NULL ins_id,  "
sql = sql + "      '1' AS nro_lote "
sql = sql + "FROM   tax.sujetos_pasivos@tax s "
sql = sql + "join tax.personas_juridicas@tax pj on pj.pja_spo_id= s.spo_id "
sql = sql + "join  migracion.padron_sintys_datos_pfj pd on s.spo_cuit = cuit_otax  AND grado_confiab >= 50 "
sql = sql + "WHERE NOT  ((utl_match.jaro_winkler_similarity(fc_normalizar_denom(s.spo_denominacion),fc_normalizar_denom(deno)) >= 50 OR "
sql = sql + "            (utl_match.jaro_winkler_similarity(REGEXP_SUBSTR(fc_normalizar_denom(s.spo_denominacion), '^([A-Za-z]+)(\s+)', 1, 1, 'i'), REGEXP_SUBSTR(fc_normalizar_denom(pd.deno), '^([A-Za-z]+)(\s+)', 1, 1, 'i')) >= 50 "
sql = sql + "                          AND "
sql = sql + "             utl_match.jaro_winkler_similarity(REGEXP_SUBSTR(fc_normalizar_denom(s.spo_denominacion), '(\s+)([A-Za-z]+)$', 1, 1, 'i'),  REGEXP_SUBSTR(fc_normalizar_denom(pd.deno), '(\s+)([A-Za-z]+)$', 1, 1, 'i')) >= 50))) "



con = cx_Oracle.connect('nivel1/MIGRADORES@10.250.2.147:1521/moremigd')
dataset = pandas.read_sql(sql , con)
con.close()

In [42]:
dataset[:10]

,SPO_ID,SPO_CUIT,TIPO_DOC,NRO_DOC,SPO_DENOMINACION,SPO_TIPO_SUJETO_PASIVO,NRO_CTA,DOMINIO,INS_ID,NRO_LOTE,CNRO_DOC
0,13,24063675853,DNI,6367585.0,SUCESION INDIVISA DE BERTINOTTI SIMON FLORENTINO,F,None,None,None,1,6367585.0
1,13,24063675853,None,NaN,SUCESION INDIVISA DE BERTINOTTI SIMON FLORENTINO,F,None,None,None,1,NaN
2,28,20058189023,DNI,5818902.0,CASSE MARTA ELENA,F,None,None,None,1,5818902.0
3,36,27034796128,DNI,3479612.0,MORILLO CLARA ROSA,F,None,None,None,1,3479612.0
4,44,27024628359,DNI,2462835.0,SUCESION INDIVISA DE BONAVETTI DE A RHINA,F,None,None,None,1,2462835.0
5,68,20015617447,DNI,1561744.0,RUBIN LEON,F,None,None,None,1,1561744.0
6,90,23027628079,DNI,2762807.0,SUCESION INDIVISA DE ALBA JUAN DOMINGO Y OTS,F,None,None,None,1,2762807.0
7,141,20027372164,DNI,2737216.0,SUCESION INDIVISA DE ALVAREZ ALFONSO,F,None,None,None,1,2737216.0
8,151,20064818776,DNI,6481877.0,SUCESION INDIVISA DE CHAMME ANTONIO BADRI,F,None,None,None,1,6481877.0
9,155,20027636552,DNI,2763655.0,SUCESION INDIVISA DE CAFURE ALFREDO,F,None,None,None,1,2763655.0

In [58]:
dataset["NRO_DOC"] = dataset["NRO_DOC"].replace(np.nan, 0)

In [59]:
dataset["NRO_DOC"] = dataset['NRO_DOC'].astype(np.int64)

In [62]:
dataset[:10]

,SPO_ID,SPO_CUIT,TIPO_DOC,NRO_DOC,SPO_DENOMINACION,SPO_TIPO_SUJETO_PASIVO,NRO_CTA,DOMINIO,INS_ID,NRO_LOTE,CNRO_DOC
0,13,24063675853,DNI,6367585,SUCESION INDIVISA DE BERTINOTTI SIMON FLORENTINO,F,None,None,None,1,6367585
1,13,24063675853,None,0,SUCESION INDIVISA DE BERTINOTTI SIMON FLORENTINO,F,None,None,None,1,0
2,28,20058189023,DNI,5818902,CASSE MARTA ELENA,F,None,None,None,1,5818902
3,36,27034796128,DNI,3479612,MORILLO CLARA ROSA,F,None,None,None,1,3479612
4,44,27024628359,DNI,2462835,SUCESION INDIVISA DE BONAVETTI DE A RHINA,F,None,None,None,1,2462835
5,68,20015617447,DNI,1561744,RUBIN LEON,F,None,None,None,1,1561744
6,90,23027628079,DNI,2762807,SUCESION INDIVISA DE ALBA JUAN DOMINGO Y OTS,F,None,None,None,1,2762807
7,141,20027372164,DNI,2737216,SUCESION INDIVISA DE ALVAREZ ALFONSO,F,None,None,None,1,2737216
8,151,20064818776,DNI,6481877,SUCESION INDIVISA DE CHAMME ANTONIO BADRI,F,None,None,None,1,6481877
9,155,20027636552,DNI,2763655,SUCESION INDIVISA DE CAFURE ALFREDO,F,None,None,None,1,2763655

In [63]:
dataset.to_csv('sujetos_sintys.csv', encoding='utf-8', index=False, sep='\t')